{% extends 'base.html.twig' %}
{% block title %}Equipos - Activos de Mantenimiento{% endblock %}<fieldset>
{% block body%}
{% include 'menu.html.twig' %}
{{ parent() }}
<br>
<div class="divforms">
<br><br><br>
<fieldset >
<legend>Aviso de Mantenimiento</legend>
PAGINA EN CONSTRUCCION
</fieldset>
</div>
{% endblock %}